/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}
/* --------------------- GENERAL -----------------*/

header {
  background-color: #d3f5fc;
  height: 110px;
}
header a:link {
  color: #041626;
  font-family: "Roboto Slab", serif;
}
header a:visited {
  color: #041626;
  font-family: "Roboto Slab", serif;
}
header a:hover {
  color: #0a96a6;
  font-family: "Roboto Slab", serif;
}
header a:active {
  color: #0a96a6;
  font-family: "Roboto Slab", serif;
}
main {
  background-color: #f5ffff;
  padding: 2em;
}
footer {
  background-color: #d3f5fc;
  color: #041626;
  font-family: "Roboto Slab";
  padding: 3%;
}

/* --------------------- FORSIDE --------------------- */
main h1 {
  font-family: "Roboto";
  font-weight: 600;
  padding-bottom: 0.3em;
  font-style: italic;
}
main p {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-style: normal;
  color: #041626;
  font-size: 16px;
  padding-bottom: 0.5em;
  width: 308px;
}
main a {
  color: #041626;
  font-family: "Roboto Slab", serif;
  margin-bottom: 0.5em;
}

main img {
  width: 308px;
  border: solid #041626 4px;
  border-radius: 5px;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

#cutout {
  width: 308px;
  border: solid #041626 4px;
  border-radius: 5px;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  padding: 0.2em;
}
main h2 {
  font-family: "Roboto";
  font-weight: 500;
  color: #041626;
  padding-bottom: 0.2em;
  font-style: italic;
}
main h3 {
  font-family: "Roboto";
  font-weight: 500;
  color: #041626;
  font-style: italic;
}

dl {
  font-family: "Roboto Slab", serif;
  border: solid #041626 2px;
  border-radius: 5px;
  color: #041626;
  margin-top: 0.3em;
  width: 308px;
}
dt {
  background-color: #d3f5fc;
  padding: 1.5%;
  font-weight: 500;
}
dd {
  padding: 1.5%;
  font-style: italic;
}
